:root {
  --background: #fff;
  --page-background: #f5f5f5;
  --input-border: #d6d6d6;
  --text: #333;
  --light-text: #b0b0b0;
  --row-border: #e3e2eb;
  --accent: #9873ff;
  --accent-hover: #b89eff;
  --accent-active: #8052ff;
  --secondary: #c8c5d1;
  --secondary30: #c8c5d14d;
  --warning: #f06a4d;
  --copy: #198754;
  --controls: #e7e5eb;
}
