.header {
  display: flex;
  gap: 53px;
  align-items: center;
  padding: 20px;
  background: var(--background);
  box-shadow: 0 9px 27px rgba(176, 190, 197, 0.32), 0 3px 5px rgba(176, 190, 197, 0.32);

  &__wrapper {
    position: relative;
    width: 581px;
  }

  &__form {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -32px;
      display: none;
      width: 24px;
      height: 100%;
      background: url("./components/global/img/loader.svg") no-repeat center/contain;
    }

    &--loading {
      &::before {
        display: inline-block;
        animation: 1s loading infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
      }
    }
  }

  &__search {
    position: relative;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--input-border);
    outline: none;

    &::placeholder {
      color: var(--light-text);
    }
  }

  &__suggestions {
    position: absolute;
    z-index: 1;
    width: 100%;
    border: 1px solid var(--row-border);
    border-top: none;
    background: var(--background);
    box-shadow: 0 6px 10px var(--row-border);

    &--hidden {
      display: none;
    }
  }

  &__suggestion {
    padding: 12px 16px;
    cursor: pointer;

    &--highlighted {
      background: var(--row-border);
    }

    @media (any-hover: hover) {
      &:hover {
        background: var(--row-border);
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    gap: unset;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;

    &__logo {
      width: 24px;
    }

    &__wrapper {
      display: none;
    }
  }
}
